.Modal {
    position: fixed;
    width: 400px;
    margin: 0 10px;
    padding: 20px;
    left: 50%;
    top: -100%;
    border-radius: 5px;
    background: #fff;
    transform: translateX(-50%);
    transition: all .4s ease-in-out;
    z-index: 100;
}

.Modal.open {
    top: 25%;
}