.ActiveQuiz {
    padding: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
}

.Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}