.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #F0613C 0%, #F0783C 100%);
}

.QuizCreator h1 {
    text-align: center;
}

.CreateQuiz {
    background: #eeeeee;
    border-radius: 5px;
    padding: 15px;
    width: 600px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}