.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #F0613C 0%, #F0783C 100%);
}

.Auth > div {
    width: 600px;

}

.Auth h1 {
    color: #fff;
    text-align: center;
}

.AuthForm {
    box-shadow: 2px 3px 1px rgba(0, 0, 0, .3);
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}